<body>
<!-- Sidenav -->
<%- include ('../partials/sidebar'); %>
<!-- Main content -->
<div class="main-content">
    <!-- Top navbar -->
    <%- include ('../partials/navbar'); %>
    <!-- Header -->
    <%- include ('../partials/header'); %>
    <!-- Page content -->

    <div class="container-fluid mt-5">
        <div class="row-mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow text-left">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb--2">Submit Code</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Create a zip file of your robot player, and submit it below. The submission format should be a zip file containing a single folder, which should contain RobotPlayer.java and any other code you have written, for example:</p>
                        <pre><code> submission.zip --> examplefuncsplayer (single folder) --> RobotPlayer.java, FooBar.java</code></pre>
                        <form action="/upload" enctype="multipart/form-data" method="POST">
                            <input type="file" class="input align-items-center" id="sourceCodeInput" name="file"
                                   accept=".zip" required>
                            <button class="btn btn-outline-light" type="submit">upload submission</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Team Submissions</h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Team name</th>
                                <th scope="col">Last upload</th>
                                <th scope="col">File name</th>
                                <!--                                <th scope="col">Download</th>-->
                            </tr>
                            </thead>
                            <tbody>

                            <% if (locals.tableContents.length > 0){ %>

                                <% for ( var i = 0 ; i < locals.tableContents.length ; i++) { %>
                                    <% if (locals.tableContents[i].Key.split('/')[0] === 'submissions'
                                            && locals.tableContents[i].Key.split('/')[1] !== '') { %>
                                        <tr>
                                            <td>
                                                <%= locals.tableContents[i].Key.split('/')[1].split('zip')[0].split('.')[0]; %>
                                            </td>
                                            <td>
                                                <%= locals.tableContents[i].LastModified; %>
                                            </td>
                                            <td>
                                                <%= locals.tableContents[i].Key.split("/")[1]; %>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Match replays</h3>
                            </div>
<!--                            <div class="col text-right">-->
<!--                                <a href="#!" class="btn btn-sm btn-primary">See all</a>-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Replay Files</th>
                                <th scope="col">Last Updated Time</th>
                                <th scope="col">Downloads</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if (locals.tableContents.length > 0){ %>
                                <% for ( var i = 0 ; i < locals.tableContents.length ; i++) { %>
                                    <% if (locals.tableContents[i].Key.split('/')[0] === 'matches'
                                            && locals.tableContents[i].Key.split('/')[1] !== '') { %>
                                        <tr>
                                            <th scope="row">
                                                <%= locals.tableContents[i].Key.split('/')[1] %>
                                            </th>
                                            <td>
                                                <%= locals.tableContents[i].LastModified %>
                                            </td>
                                            <td>
                                                <a href="<%= locals.tableContents[i].replayUrl%>">Download</a>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <%- include ('../partials/footer'); %>
    </div>
</div>
<!-- Include scripts -->
<%- include ('../partials/scripts'); %>
</body>

